DB_USER=myuser
DB_PASSWORD=mypassword
DB_PORT=5432
DB_NAME=mydb
DB_HOST=localhost

# Generate using command (if linux): openssl rand -base64 32
JWT_KEY=YOUR_JWT_KEY

TEST_DB_USER=mytestuser
TEST_DB_PASSWORD=mytestpassword
TEST_DB_PORT=5434
TEST_DB_NAME=mytestdb
TEST_DB_HOST=localhost
